* {
    margin: 0;
    padding: 0;
}

a {
    color: #000 !important;
    text-decoration: none;
}

a h3 {
    transition: all 0.5s ease-out;
}

a:hover h3 {
    color: rgb(26, 203, 57) !important;
    opacity: 0.8;
}

li {
    list-style: none;
}

body {
    background-color: #fff;
}

.navbar {
    width: 100%;
    min-height: 50px;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 900;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgb(26, 203, 57) !important;
    line-height: 50px;
}

.navbar .sidebar-btn {
    display: block;
    width: 25px;
    height: 100%;
    cursor: pointer;
}

.navbar .sidebar-btn span {
    display: block;
    height: 2px;
    background: rgb(26, 203, 57);
    margin-top: 4px;
    border-radius: 1px;
    transition: all 0.5s ease-out;
}

.navbar .sidebar-btn span:nth-child(1) {
    margin-top: 18px;
}

.navbar .sidebar-btn:hover span {
    margin-bottom: 6px;
}

.main {
    width: 100%;
    padding-top: 50px;
}

.main .main-content {
    width: 100%;
}

.main .main-content .sidebar {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    background-color: #fff;
    transition: left 0.4s linear;
}

.sidebar .sidebar-close-btn {
    display: block;
    width: 25px;
    height: 50px;
    cursor: pointer;
}

.sidebar .sidebar-close-btn span {
    display: block;
    height: 2px;
    background: rgb(26, 203, 57);
    margin-top: 2px;
    border-radius: 1px;
    transition: all 0.6s ease-in-out;
}

.sidebar .sidebar-close-btn span:nth-child(1) {
    margin-top: 28px;
    transform: rotateZ(45deg);
}

.sidebar .sidebar-close-btn span:nth-child(2) {
    transform: rotateZ(-45deg);
    margin-top: -2px;
}

.sidebar .sidebar-close-btn:hover span:nth-child(1) {
    transform: rotateZ(145deg);
}

.sidebar .sidebar-close-btn:hover span:nth-child(2) {
    transform: rotateZ(-145deg);
}

.sidebar .sidebar-links, 
.sidebar .sidebar-links ul,
.sidebar .sidebar-links form {
    width: 100%;
}

.sidebar .sidebar-links .sidebar-username {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgb(246, 166, 35);
    margin-bottom: 10px;
}

.sidebar .sidebar-links a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 2px 0px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.7) !important;
    transition: all 0.3s ease-in;
}

.sidebar .sidebar-links a:hover {
    color: rgb(26, 203, 57) !important;
}

.sidebar .sidebar-links,
.sidebar .sidebar-links form {
    padding: 10px 0px;
}

.sidebar .sidebar-links form input[type=search] {
    width: 60px;
    border: none;
    border: 1px solid #ccc;
    transition: all 0.6s ease-in-out;
}

.sidebar .sidebar-links form input[type=search]:focus {
    width: 120px;
}

.main .main-content .blog-inner {
    width: 100%;
}

.main .main-content .blog-inner .blog-inner-top {
    width: 100%;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-main {
    width: 100%;
    opacity: 0.7;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-main article {
    width: 100%;
}

.article-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    padding: 10px 0px;
    line-height: 24px;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-main article p {
    color: rgba(0, 0, 0, 0.5);
}

.article-paragraph {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
}

.article-author {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: lighter;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-main img{
    width: 100%;
    margin: 10px 0px;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-latest {
    width: 100%;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-latest article {
    width: 100%;
    padding: 7px 0px;
    border-top: 1px solid #ccc;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-latest article >* {
    color: #000;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-latest article h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight: bolder;
}

.main .main-content .blog-inner .blog-inner-top .blog-inner-top-latest article span {
    font-size: 11px;
}

.main .main-content .blog-inner .blog-inner-main-content {
    width: 100%;
}

.main .main-content .blog-inner .blog-inner-main-content h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: rgb(232, 186, 74);
    padding: 20px 0px;
    text-align: center;
}

.main .main-content .blog-inner .blog-inner-main-content .blog-bigger {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}

.main .main-content .blog-inner .blog-inner-main-content .blog-bigger img {
    width: 100%;
}

.main .main-content .blog-inner .blog-inner-main-content article .article-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 300 !important;
}

.main .main-content .blog-inner .blog-inner-main-content  .blog-bigger article .article-paragraph {
    display: none;
    height: 60px;
}

.main .main-content .blog-inner .blog-inner-main-content  article span {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}


.main .main-content .blog-inner .blog-inner-main-content  article .article-author {
    font-weight: 500;
}


.main .main-content .blog-inner .blog-inner-main-content  article .article-date {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.main .main-content .blog-inner .blog-inner-main-content .blog-normal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}

.main .main-content .blog-inner .blog-inner-main-content .blog-normal article img {
    width: 130px;
    margin-top: 10px;
    float: right;
}

@media only screen and (max-width: 259px) {
    .main .main-content .blog-inner .blog-inner-main-content .blog-normal article img {
        float: left;
    }
}

.main .main-content .blog-inner .blog-inner-main-content .blog-normal article {
    flex: 1 1 50%;
}

.main .main-content .blog-inner .blog-inner-main-content  .blog-normal .article-paragraph {
    display: none;
    height: 100px;
}

.btn-load {
    display: block;
    border: none;
    color: #fff;
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(26, 203, 57);
}

.footer {
    height: 120px;
    background-color: rgb(241, 241, 241);
}

.footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 120px;
    color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
}

/*index Tablet and desktop Design ):*/
@media only screen and (min-width: 768px) {
    .navbar {
        display: none;
    }

    .main {
        padding-top: 10px;
    }

    .main .main-content {
        display: flex;
    }

    .main .main-content .sidebar {
        width: 150px;
        position: relative;
        top: 0;
        left: 0;
        flex: 1 1 150px;
    }

    .main .main-content .sidebar .sidebar-close-btn {
        display: none;
    }

    .main .main-content .blog-inner {
        width: calc(100% - 150px);
        flex: 1 1 calc(100% - 150px);
    }
}

/*Desktop*/
@media only screen and (min-width: 1000px) {
    .main .main-content .blog-inner .blog-inner-top {
        display: flex;
    }

    .main .main-content .blog-inner .blog-inner-top .blog-inner-top-main {
        width: 100%;
    }

    .main .main-content .blog-inner .blog-inner-top .blog-inner-top-latest {
        width: 60%;
    }

    .main .main-content .blog-inner .blog-inner-top .blog-inner-top-latest article {
        border: none;
        border-bottom: 1px solid #ccc;
    }

    .main .main-content .blog-inner .blog-inner-main-content .blog-bigger {
        display: flex;
    }
    
    .main .main-content .blog-inner .blog-inner-main-content .blog-bigger img {
        width: 60%;
        height: 220px;
        order: 2;
    }

    .main .main-content .blog-inner .blog-inner-main-content  .blog-bigger article {
        width: calc(40% - 40px);
        padding: 0px 20px;
        order: 1;
    }
    
    .main .main-content .blog-inner .blog-inner-main-content  .blog-bigger article .article-paragraph {
        display: block;
        height: 60px;
    }

    .main .main-content .blog-inner .blog-inner-main-content .blog-normal {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    
    .main .main-content .blog-inner .blog-inner-main-content .blog-normal article img {
        width: 200px;
        height: 100px;
    }
    
    .main .main-content .blog-inner .blog-inner-main-content .blog-normal article {
        flex: 1 1 calc(33.3% - 20px);
        padding: 5px 10px;
    }
    
    .main .main-content .blog-inner .blog-inner-main-content  .blog-normal .article-paragraph {
        display: block;
        height: 90px;
    }

    .page-wrapper {
        display: block;
        width: 80%;
    }

}

/*the blog page*/
.blog {
    width: 100%;
}

.blog article img {
    width: 100%;
}

.blog .blog-content p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: 12px 0px;
    line-height: 24px;
}

.blog .blog-content h1,
.blog .blog-content h2,
.blog .blog-content h3,
.blog .blog-content h4,
.blog .blog-content h5,
.blog .blog-content h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0px;
    text-align: left !important;
    color: #111 !important;
}

.blog .blog-comments,
.blog .blog-comments form {
    width: 100%;
    padding: 10px 0px;
}

.blog .blog-comments .react-comment {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.blog .blog-comments .react-comment h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-align: left !important;
    color: #111 !important;
}

.blog .blog-comments .react-comment .reaction {
    margin-top: 20px;
}

.blog .blog-comments .react-comment .reaction img {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.blog .blog-comments form input {
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog .blog-comments .comments,
.blog .blog-comments .comments .comments-contents {
    width: 100%;
}

.blog .blog-comments .comments .comments-contents {
    margin: 20px 0px;
    padding: 10px 0px;
}

.blog .blog-comments .comments .comments-contents h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: left !important;
    color: #111 !important;
}

.blog .blog-comments .comments .comments-contents .the-comment  {
    width: calc(100% - 20px);
    margin: 7px 10px 0px;
    padding: 12px 0px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.blog .blog-comments .comments .comments-contents .comment-options  {
    width: calc(100% - 20px);
    margin: 0px 10px;
}

.blog .blog-comments .comments .comments-contents .comment-options a {
    margin: 0px 5px;
    color: royalblue !important;
    text-decoration: underline;
}

.blog .blog-comments .comments .comments-contents .the-comment p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-left: 5px;
    text-align: left !important;
    color: rgba(0, 0, 0, 0.6) !important;
}